<div class="col-lg-8 mt-3">
  <p class="bg-primary">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
    commodi maxime, facilis quibusdam dignissimos ab quod saepe magnam sapiente
    vitae laudantium ipsa hic labore eos eligendi quos, quis sit eaque.
  </p>
</div>
